body {
    width: 400px;
    height: 150px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background: rgb(24,104,183);
    background: linear-gradient(41deg, rgba(24,104,183,1) 0%, rgba(11,80,148,1) 100%);
    color: white;
  }

  h1 {
    cursor: default;
  }

  button {
    width: 30%;
    padding: 10px 0;
    border: 1px solid white;
    border-radius: 100px;
    background: transparent;
    color: white;
    font-size: 1rem;
    cursor: pointer;
  }

  button:active {
    background: white;
    color: rgba(24,104,183,1);
  }